<
<div class="pause" style="border:green medium solid;padding:15px 13px 15px 15px;margin:5% 5% 0% -20%;width:90%;height:90%;border-radius:10px;">
    <img src="~/Images/starticon.jpeg" alt="img" id="stationpause" style="width:50%;height:50%;margin-left:25%;" />

</div>


