

    <div class="Idle" style="border:green medium solid;padding:15px 13px 15px 15px;margin:5% 5% 0% -20%;width:90%;height:90%;border-radius:10px;">
        <div class="row" style="margin-left:2%;width:100%;height:100%">
            <div class="col-md-3">
                     <lable id="Seriallbl">Serial Number:</lable>
                   
                </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="SerialTxt" style="width:100%">
            </div>
            <div class="col-md-3">
                
                    <lable id="Referencelbl">Reference:</lable>
                </div>
            <div class="col-md-3">
                    <input type="text" class="form-control" id="ReferenceTxt" style="width:100%">
                </div>
            </div>
        
        <div class="row" >
            <div class="col-md-10">
                <div class="col-md-offset-7" style="margin-top:1%;">
                    <button id="StartButton" class="btn btn-info btn-lg ">
                        <span class="glyphicon glyphicon-play"></span>
                        Start
                    </button>
                </div>
            </div>
        </div>

    </div>

