
    <div class="Active1" style="border:green medium solid;padding:15px 13px 15px 15px;margin:5% 5% 10% -20%;width:90%;height:90%;border-radius:10px;">
        <div class="row" style="margin-left:2%;width:100%;height:100%">
            <div class="col-md-3">
               
                    <lable id="Seriallbl">Serial Number:</lable>
                </div>
            <div class="col-md-3">
                    <input type="text" class="form-control" id="SerialTxt" style="width:100%">
                
            </div>
            <div class="col-md-3">
               
                    <lable id="Referencelbl">Reference:</lable>
                </div>
            <div class="col-md-3">
                <input type="text" class="form-control" id="ReferenceTxt" style="width:100%">
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="col-md-offset-7" style="margin-top:2%">
                    <button id="StopButton" class="btn btn-info btn-lg ">
                        <span class="glyphicon glyphicon-stop"></span>
                        Stop
                    </button>
                </div>  
            </div>
        </div>
        <div class="row" style="margin-left:2%">
            <div class=" col-md-3" style="margin-top:2%" >
            <lable id="Barrierlbl">Barrier:</lable>
        </div>
            <div class="col-md-3" style="margin-top:2%;">
                   <div id="Barriercombobox">

                   </div>
                </div>
            <div class="col-md-10">
                <div class="col-md-offset-7" style="margin-top:2%">
                    <button id="BarrierButton" class="btn btn-info btn-lg">
                        <span class="glyphicon glyphicon-hand-up"></span>
                        Raise
                    </button>
                </div>
            </div>

        </div>

</div>


