

@section scripts{
<script type="text/javascript">
    $(document).ready(function () {
        var source = [
"Avinash",
"Vishwamitra",

        ];
        $('#Barriercombobox').jqxComboBox({ source: source, width: '200px', height: '25px', });
        $('#LogoutButton').click(function () {

            document.location = '@Url.Action("Index", "StationInputs")';
        });
        $('#StationPauseDiv').hide();
        $('#StationActiveDiv').hide();
        $('#StartButton').click(function () {
            $('#StationidleDiv').hide();
            $('#StationActiveDiv').show();
        });

        $('#StopButton').click(function () {
            $('#StationActiveDiv').hide();
            $('#StationidleDiv').show();
        });
        $('#BarrierButton').click(function () {

            $('#StationActiveDiv').hide();
            $('#StationPauseDiv').show();
        });
        $('#stationpause').click(function () {
            $('#StationPauseDiv').hide();
            $('#StationidleDiv').show();
            
        });

    });

    </script>
}

<div class="container-fluid">
    <div class="row" style="float:left;margin:1% 0% 0% 10%">
        <div class="col-md-2">
            <label id="lineName">Line:</label>
        </div>
        <div class="col-md-2">
            <label id="lineName">LineName</label>
        </div>
        <div class="col-md-2">
            <label id="lineName">Station:</label>
        </div>
        <div class="col-md-2">
            <label id="lineName">StationName</label>
        </div>
        <div class="col-md-2">
            <label id="lineName">Operator:</label>
        </div>
        <div class="col-md-2">
            <label id="lineName">OperatorName</label>
        </div>

    </div>
    <div class="row" style="height:100%;margin:10% 0% 0% 30%;width:100%;" id="StationidleDiv">
    

            @Html.Partial("StatusIdle")

      </div>
    <div class="row" style="height:100%;margin:10% 0% 10% 30%;width:100%;" id="StationActiveDiv">


        @Html.Partial("StationActive")

    </div>
    <div class="row" style="height:100%;margin:10% 0% 10% 30%;width:100%;" id="StationPauseDiv">


        @Html.Partial("StationPaused")

    </div>

    <div class="row">
        <div class="col-md-3" style="float:right;margin:25% -12% 1% 0%;">
            <button id="LogoutButton" class="btn btn-info btn-lg ">
               Logout
            </button>

        </div>

    </div>


</div>